
<div class="row">
    
    <div class="col-md-4 offset-md-4">
      <h3>Chercher un film </h3>
      <form action="/search" method="POST">
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <div class="form-group">
           <input type="text" class="form-control" name="movie" placeholder="Nom du film">
         </div>
         <button type="submit" class="btn btn-primary">Chercher</button>
      </form>
    </div>

</div>

