.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
}

.avatar-nav {
  height: 100px;
  width: 100px;
  margin-top: 10px;
}

.avatar-card {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 10px;
}