/*Tabs*/
.tabs {
    width: 100%;
    margin-top: 60px;
}
.tabs input {
    display: none;
}
.tabs label {
    font-size: 25px;
    color: #202226;
    font-weight: bold;
    text-shadow: 2px 2px #fff;
    display: inline-block;
    padding: 6px 0 6px 0;
    margin: 0 -2px;
    width: 25%; /* =100/tabs number */
    border-bottom: 10px solid #b30000;
    text-align: center;
}
.tabs label:hover {
    cursor: pointer;
}
.tabs input:checked + label {
    border: 10px solid #b30000;
    border-width: 3px 3px 0 1px;
}
.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2,
.tabs #tab3:checked ~ .content #content3,
.tabs #tab4:checked ~ .content #content4 {
    display: block;
}
.tabs .content > div {
    display: none;
    padding-top: 20px;
    text-align: left;
  /*height: 192px;*/
    overflow: auto;
}
.content p {
    font-size: 20px;
    color: #202226;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px #fff;
}