<div class="jumbotron">
  <h1 class="display-3">CryptoCurrency !</h1>
  <p class="lead">Utilise le menu pour choisir une monnaie et afficher sa valeure.</p>
  <hr class="my-4">
  <p>Clique sur le lien ci-dessous pour actualiser la DB de cryptomonnaies (cette action peut prendre quelques minutes).</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" <%= link_to 'Actualiser', update_path %></a>
  </p>
</div>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Liste des Crypto
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% @all_currencies.each do |currency| %>
      <%= link_to currency.name, find_path(currency.id), method: :post, class:"dropdown-item" %>
    <% end %>
  </div>
</div>

<h5><%= @currency.name %></h5>
<p><%= @currency.value %></p>