<div class="jumbotron">
  <h1 class="display-3">Bienvenue !!</h1>
  <p class="lead">Ce site te permettra de suivre le cours des cryptomonnaies.</p>
  <hr class="my-4">
  <p>Clique sur le lien ci-dessous pour acceder au site.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" <%= link_to 'Acces', find_path %></a>
  </p>
</div>
