
<h1>Connexion</h1>


<%= form_tag "/users/login", method: :post do %>

  <input type="text" name="first_name" />

  <input type="password" name="password" />

  <input type="submit" value="Se connecter" />

<% end %>