<html>


<head>
  <title>PAGE POTIN</title>
</head>
<body>

<h1>Voici la page du potin n° <%=params['value']%></h1>
<p>Son auteur : <%= gossip.author %></p>
<p>Le contenu du potin : <%= gossip.content %></p>
<a href="/gossips/edit/<%=params['value']%>">Editer le Potin</a><br/>

<a href="/">Lien pour revenir à la page des potins</a>
</body>
</html>