<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Mardi CSS</title>
</head>
<body>
   <nav>
    <div class="navbar">
      <div class="navbar-logo">
        <%= image_tag "avatar-nav.png", class: "avatar-nav" %>
      </div>
      <div class="navbar-right">  
        <ul class="nav-content">
          <li><a href="/">Accueil</a></li>
          <li><a href="/tabs">Tabs et carroussel</a></li>
          <li><a href="#">Plus d'infos</a></li>
        </ul>
      </div>
      <div class="nav-avatar">
        <%= image_tag "avatar.jpg", class: "avatar" %>
      </div>
    </div>
  </nav>
  <br/><br/><br/>
  <h2>Notre boutique offre une variété jamais égalée sur le marché !!</h2>
  <div class="btn-troop">
    <a href="#" class="my-btn">Oeuf de pingouin</a>
    <a href="#" class="my-btn">Pingouin masqué</a>
    <a href="#" class="my-btn">Glaçons</a>
    <a href="#" class="my-btn">Igloo en kit</a>
    <a href="#" class="my-btn">Nourriture pour ours blanc</a>
    <a href="#" class="my-btn">Déguisement pour pingouin</a>
    <a href="#" class="my-btn">Cours particuliers de vol</a>
  </div>
  <br/><br/><br/>

  <div class="card">
    <%= image_tag "groen.jpg" %>
    <%= image_tag "avatar.jpg", class: "avatar-card" %>
    <div class="container">
      <h4><b>Pingu</b></h4>
      <p>Ingenieur Igloo & Nourriture ours blanc</p><br/>
  </div>
</div> 
<br/><br/><br/>
</body>
</html>