body
{
	font-family: arial,sans-serif;
	margin-left: 0px;
}

.conteneurHeader
{
	height: 50px;
	width: 250px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8em;
}

.conteneurHeaderElement:nth-child(1)
{
	width: 105px;
	height: auto;
	word-spacing: 10px;
}

.conteneurHeader a
{
	color: rgba(0,0,0,0.87);
	text-decoration: none;
}

.conteneurHeader a:hover
{
	color: rgba(0,0,0,0.87);
	text-decoration: underline;
}

.conteneurHeaderElement:nth-child(2)
{
	width: 100px;
	height: auto;
	text-align: right;
	word-spacing: 5px;
}

.conteneurPrincipal
{
	height: 500px;
	clear: both;
	text-align: center;
	padding-top: 150px;
}

input 
{
	width: 500px;
	height: 30px;
	margin: 15px 0px 15px 0px;
}


.conteneurFooter
{
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #e4e4e4;
	height: 100px;
	width: 100%;
	padding: 0px 10px 0px 10px;
	font-size: 1em;
	background-color: #f2f2f2;
	position: fixed;
}

.conteneurFooter a
{
	color: rgba(0,0,0,0.87);
	text-decoration: none;
}

.conteneurFooter a:hover
{
	color: rgba(0,0,0,0.87);
	text-decoration: underline;
}

.conteneurFooterBot
{
	display: flex;
	justify-content: space-between;
	font-size: 0.8em;
	border-top: 1px solid #e4e4e4;
	padding-right: 10px;
}

ul
{
	list-style-type: none;
	padding: 0px;
}

li
{
	display: inline;
	margin-right: 10px;
}

.conteneurFooterBotElement:nth-child(1)
{
	text-align: left;
}

button
{
	font-weight: bold;
	color: #757575;
	background-color: #f2f2f2;
	height: 35px;
	border: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
}

.phrase
{
	font-size: 0.8em;
}
